In [15]:
import pandas as pd
import numpy as np
import datetime

# Leo el archivo de Clicks.

In [16]:
path = 'datos/clicks.csv'
clicks = pd.read_csv(path)
clicks.head()

/Users/gmontes/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,1,NaN,2,2019-04-18T05:27:42.197Z,6287817205707153877,1.714547,0.871535,False,3.0,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,1.517644e+18,NaN,5.131616e+18,71913840936116953,0.0,2.317,0.968,0.503,1891515180541284343,1293710398598742392
1,1,NaN,1,2019-04-18T05:27:03.164Z,6287817205707153877,1.714512,0.871062,True,2.0,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,1.288578e+18,NaN,3.908390e+18,3576558787748411622,1.0,7.653,0.712,1.689,1891515180541284343,1663930990551616564
2,1,NaN,1,2019-04-18T05:42:07.926Z,6287817205707153877,1.714547,0.871535,True,4.0,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,2.238736e+18,NaN,3.581233e+18,3576558787748411622,NaN,464.796,0.227,0.251,1891515180541284343,8488038938665586188
3,1,NaN,1,2019-04-18T05:26:04.446Z,6287817205707153877,1.708041,0.870772,True,1.0,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,2.411640e+18,NaN,3.908390e+18,3576558787748411622,NaN,225.311,0.696,6.587,1891515180541284343,6488361690105189959
4,1,NaN,1,2019-04-18T05:23:37.764Z,6287817205707153877,1.715514,0.870772,True,2.0,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs,1.517644e+18,NaN,5.131616e+18,3576558787748411622,0.0,84.736,0.059,0.142,1891515180541284343,1348993302102753419

# Se da formato a las fechas.

In [17]:
# Damos formato a la fecha.
clicks['timestamp_format'] = pd.to_datetime(clicks['created'])

# Agrego columna fecha.
clicks['date_timestamp'] = clicks['timestamp_format'].dt.date

# Agrego columna numero dia.
clicks['day'] = clicks['timestamp_format'].dt.day

clicks.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,...,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash,timestamp_format,date_timestamp,day
0,1,NaN,2,2019-04-18T05:27:42.197Z,6287817205707153877,1.714547,0.871535,False,3.0,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,...,71913840936116953,0.0,2.317,0.968,0.503,1891515180541284343,1293710398598742392,2019-04-18 05:27:42.197,2019-04-18,18
1,1,NaN,1,2019-04-18T05:27:03.164Z,6287817205707153877,1.714512,0.871062,True,2.0,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,...,3576558787748411622,1.0,7.653,0.712,1.689,1891515180541284343,1663930990551616564,2019-04-18 05:27:03.164,2019-04-18,18
2,1,NaN,1,2019-04-18T05:42:07.926Z,6287817205707153877,1.714547,0.871535,True,4.0,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,...,3576558787748411622,NaN,464.796,0.227,0.251,1891515180541284343,8488038938665586188,2019-04-18 05:42:07.926,2019-04-18,18
3,1,NaN,1,2019-04-18T05:26:04.446Z,6287817205707153877,1.708041,0.870772,True,1.0,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,...,3576558787748411622,NaN,225.311,0.696,6.587,1891515180541284343,6488361690105189959,2019-04-18 05:26:04.446,2019-04-18,18
4,1,NaN,1,2019-04-18T05:23:37.764Z,6287817205707153877,1.715514,0.870772,True,2.0,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs,...,3576558787748411622,0.0,84.736,0.059,0.142,1891515180541284343,1348993302102753419,2019-04-18 05:23:37.764,2019-04-18,18

# Se crean las ventanas.

In [18]:
clicks_18_20 = clicks[(clicks['day'] >= 18) & (clicks['day'] < 21)]
clicks_19_21 = clicks[(clicks['day'] >= 19) & (clicks['day'] < 22)]
clicks_20_22 = clicks[(clicks['day'] >= 20) & (clicks['day'] < 23)]
clicks_21_23 = clicks[(clicks['day'] >= 21) & (clicks['day'] < 24)]
clicks_22_24 = clicks[(clicks['day'] >= 22) & (clicks['day'] < 25)]
clicks_23_25 = clicks[(clicks['day'] >= 23) & (clicks['day'] < 26)]
clicks_24_26 = clicks[(clicks['day'] >= 24) & (clicks['day'] < 27)]

clicks18_20.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,...,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash,timestamp_format,date_timestamp,day
0,1,NaN,2,2019-04-18T05:27:42.197Z,6287817205707153877,1.714547,0.871535,False,3.0,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,...,71913840936116953,0.0,2.317,0.968,0.503,1891515180541284343,1293710398598742392,2019-04-18 05:27:42.197,2019-04-18,18
1,1,NaN,1,2019-04-18T05:27:03.164Z,6287817205707153877,1.714512,0.871062,True,2.0,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,...,3576558787748411622,1.0,7.653,0.712,1.689,1891515180541284343,1663930990551616564,2019-04-18 05:27:03.164,2019-04-18,18
2,1,NaN,1,2019-04-18T05:42:07.926Z,6287817205707153877,1.714547,0.871535,True,4.0,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,...,3576558787748411622,NaN,464.796,0.227,0.251,1891515180541284343,8488038938665586188,2019-04-18 05:42:07.926,2019-04-18,18
3,1,NaN,1,2019-04-18T05:26:04.446Z,6287817205707153877,1.708041,0.870772,True,1.0,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,...,3576558787748411622,NaN,225.311,0.696,6.587,1891515180541284343,6488361690105189959,2019-04-18 05:26:04.446,2019-04-18,18
4,1,NaN,1,2019-04-18T05:23:37.764Z,6287817205707153877,1.715514,0.870772,True,2.0,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs,...,3576558787748411622,0.0,84.736,0.059,0.142,1891515180541284343,1348993302102753419,2019-04-18 05:23:37.764,2019-04-18,18

# Se agregan la cantidad de clicks.

In [19]:
clicksDT_18_20 = clicks_18_20.groupby('ref_hash')['created'].count().reset_index()
clicksDT_18_20.columns = ['ref_hash', 'cant_clicks']

clicksDT_19_21 = clicks_19_21.groupby('ref_hash')['created'].count().reset_index()
clicksDT_19_21.columns = ['ref_hash', 'cant_clicks']

clicksDT_20_22 = clicks_20_22.groupby('ref_hash')['created'].count().reset_index()
clicksDT_20_22.columns = ['ref_hash', 'cant_clicks']

clicksDT_21_23 = clicks_21_23.groupby('ref_hash')['created'].count().reset_index()
clicksDT_21_23.columns = ['ref_hash', 'cant_clicks']

clicksDT_22_24 = clicks_22_24.groupby('ref_hash')['created'].count().reset_index()
clicksDT_22_24.columns = ['ref_hash', 'cant_clicks']

clicksDT_23_25 = clicks_23_25.groupby('ref_hash')['created'].count().reset_index()
clicksDT_23_25.columns = ['ref_hash', 'cant_clicks']

clicksDT_24_26 = clicks_24_26.groupby('ref_hash')['created'].count().reset_index()
clicksDT_24_26.columns = ['ref_hash', 'cant_clicks']

clicksDT_19_21.head()

            ref_hash  cant_clicks
0    693609737448534            1
1   1461247282174365            1
2   5470466329076030            1
3   8577232270715133            1
4  10745840231746185            1

In [20]:
clicksDT_18_20['cant_clicks'].fillna(0, inplace= True)
clicksDT_19_21['cant_clicks'].fillna(0, inplace= True)
clicksDT_20_22['cant_clicks'].fillna(0, inplace= True)
clicksDT_21_23['cant_clicks'].fillna(0, inplace= True)
clicksDT_22_24['cant_clicks'].fillna(0, inplace= True)
clicksDT_23_25['cant_clicks'].fillna(0, inplace= True)
clicksDT_24_26['cant_clicks'].fillna(0, inplace= True)

clicksDT_20_22.head()

            ref_hash  cant_clicks
0    693609737448534            1
1   2204225481747532            1
2   5470466329076030            1
3   8577232270715133            1
4  11041860037197738            1

# Se agrega la cantidad de clicks con WI-FI.

In [21]:
clicks_wifi_18_20 = clicks_18_20.groupby('ref_hash').agg({'wifi_connection': 'sum'}).reset_index()
clicks_wifi_18_20.columns = ['ref_hash', 'cant_wifi_clicks']

clicks_wifi_19_21 = clicks_19_21.groupby('ref_hash').agg({'wifi_connection': 'sum'}).reset_index()
clicks_wifi_19_21.columns = ['ref_hash', 'cant_wifi_clicks']

clicks_wifi_20_22 = clicks_20_22.groupby('ref_hash').agg({'wifi_connection': 'sum'}).reset_index()
clicks_wifi_20_22.columns = ['ref_hash', 'cant_wifi_clicks']

clicks_wifi_21_23 = clicks_21_23.groupby('ref_hash').agg({'wifi_connection': 'sum'}).reset_index()
clicks_wifi_21_23.columns = ['ref_hash', 'cant_wifi_clicks']

clicks_wifi_22_24 = clicks_22_24.groupby('ref_hash').agg({'wifi_connection': 'sum'}).reset_index()
clicks_wifi_22_24.columns = ['ref_hash', 'cant_wifi_clicks']

clicks_wifi_23_25 = clicks_23_25.groupby('ref_hash').agg({'wifi_connection': 'sum'}).reset_index()
clicks_wifi_23_25.columns = ['ref_hash', 'cant_wifi_clicks']

clicks_wifi_24_26 = clicks_24_26.groupby('ref_hash').agg({'wifi_connection': 'sum'}).reset_index()
clicks_wifi_24_26.columns = ['ref_hash', 'cant_wifi_clicks']

clicks_wifi_21_23.head()

            ref_hash  cant_wifi_clicks
0    693609737448534               2.0
1   2204225481747532               0.0
2  10954770305551958               1.0
3  12552176992342593               0.0
4  12825186281597238               1.0

In [22]:
clicks_wifi_18_20['cant_wifi_clicks'].fillna(0, inplace= True)
clicks_wifi_19_21['cant_wifi_clicks'].fillna(0, inplace= True)
clicks_wifi_20_22['cant_wifi_clicks'].fillna(0, inplace= True)
clicks_wifi_21_23['cant_wifi_clicks'].fillna(0, inplace= True)
clicks_wifi_22_24['cant_wifi_clicks'].fillna(0, inplace= True)
clicks_wifi_23_25['cant_wifi_clicks'].fillna(0, inplace= True)
clicks_wifi_24_26['cant_wifi_clicks'].fillna(0, inplace= True)

clicks_wifi_22_24.head()

            ref_hash  cant_wifi_clicks
0    693609737448534               1.0
1   2204225481747532               0.0
2  10261987748713353               1.0
3  10954770305551958               1.0
4  12240396390252142               1.0

In [23]:
clicksDT_18_20 = clicksDT_18_20.merge(clicks_wifi_18_20, on='ref_hash', how='left')
clicksDT_19_21 = clicksDT_19_21.merge(clicks_wifi_19_21, on='ref_hash', how='left')
clicksDT_20_22 = clicksDT_20_22.merge(clicks_wifi_20_22, on='ref_hash', how='left')
clicksDT_21_23 = clicksDT_21_23.merge(clicks_wifi_21_23, on='ref_hash', how='left')
clicksDT_22_24 = clicksDT_22_24.merge(clicks_wifi_22_24, on='ref_hash', how='left')
clicksDT_23_25 = clicksDT_23_25.merge(clicks_wifi_23_25, on='ref_hash', how='left')
clicksDT_24_26 = clicksDT_24_26.merge(clicks_wifi_24_26, on='ref_hash', how='left')

clicksDT_23_25.head()

            ref_hash  cant_clicks  cant_wifi_clicks
0    693609737448534            1               1.0
1   7429113196145773            1               0.0
2   8577232270715133            1               1.0
3  10261987748713353            1               1.0
4  10954770305551958            1               1.0

# Se agrega el promedio de tiempo de clicks.

In [25]:
mean_click_18_20 = clicks_18_20.groupby('ref_hash')['timeToClick'].mean().reset_index()
mean_click_18_20.columns = ['ref_hash', 'mean_time_to_click']

mean_click_19_21 = clicks_19_21.groupby('ref_hash')['timeToClick'].mean().reset_index()
mean_click_19_21.columns = ['ref_hash', 'mean_time_to_click']

mean_click_20_22 = clicks_20_22.groupby('ref_hash')['timeToClick'].mean().reset_index()
mean_click_20_22.columns = ['ref_hash', 'mean_time_to_click']

mean_click_21_23 = clicks_21_23.groupby('ref_hash')['timeToClick'].mean().reset_index()
mean_click_21_23.columns = ['ref_hash', 'mean_time_to_click']

mean_click_22_24 = clicks_22_24.groupby('ref_hash')['timeToClick'].mean().reset_index()
mean_click_22_24.columns = ['ref_hash', 'mean_time_to_click']

mean_click_23_25 = clicks_23_25.groupby('ref_hash')['timeToClick'].mean().reset_index()
mean_click_23_25.columns = ['ref_hash', 'mean_time_to_click']

mean_click_24_26 = clicks_24_26.groupby('ref_hash')['timeToClick'].mean().reset_index()
mean_click_24_26.columns = ['ref_hash', 'mean_time_to_click']

mean_click_24_26.head()

            ref_hash  mean_time_to_click
0   7164788605058735               2.175
1   7429113196145773              13.488
2   8452408857001723               0.570
3   8577232270715133                 NaN
4  10261987748713353               0.631

In [26]:
mean_click_18_20['mean_time_to_click'].fillna(0, inplace= True)
mean_click_19_21['mean_time_to_click'].fillna(0, inplace= True)
mean_click_20_22['mean_time_to_click'].fillna(0, inplace= True)
mean_click_21_23['mean_time_to_click'].fillna(0, inplace= True)
mean_click_22_24['mean_time_to_click'].fillna(0, inplace= True)
mean_click_23_25['mean_time_to_click'].fillna(0, inplace= True)
mean_click_24_26['mean_time_to_click'].fillna(0, inplace= True)

mean_click_18_20.head()

           ref_hash  mean_time_to_click
0  1461247282174365             229.257
1  5470466329076030               0.000
2  5534899846690585              10.223
3  7429113196145773               0.000
4  8577232270715133               0.000

In [27]:
clicksDT_18_20 = clicksDT_18_20.merge(mean_click_18_20, on='ref_hash', how='left')
clicksDT_19_21 = clicksDT_19_21.merge(mean_click_19_21, on='ref_hash', how='left')
clicksDT_20_22 = clicksDT_20_22.merge(mean_click_20_22, on='ref_hash', how='left')
clicksDT_21_23 = clicksDT_21_23.merge(mean_click_21_23, on='ref_hash', how='left')
clicksDT_22_24 = clicksDT_22_24.merge(mean_click_22_24, on='ref_hash', how='left')
clicksDT_23_25 = clicksDT_23_25.merge(mean_click_23_25, on='ref_hash', how='left')
clicksDT_24_26 = clicksDT_24_26.merge(mean_click_24_26, on='ref_hash', how='left')

clicksDT_19_21.head()

            ref_hash  cant_clicks  cant_wifi_clicks  mean_time_to_click
0    693609737448534            1               1.0               0.000
1   1461247282174365            1               1.0             229.257
2   5470466329076030            1               1.0               0.000
3   8577232270715133            1               1.0               0.000
4  10745840231746185            1               1.0            3116.688

# Se agregan la cantidad de sources diferentes.

In [28]:
cant_sources_18_20 = clicks_18_20.groupby('ref_hash')['source_id'].nunique().reset_index()
cant_sources_18_20.columns = ['ref_hash', 'cant_sources_clicks']

cant_sources_19_21 = clicks_19_21.groupby('ref_hash')['source_id'].nunique().reset_index()
cant_sources_19_21.columns = ['ref_hash', 'cant_sources_clicks']

cant_sources_20_22 = clicks_20_22.groupby('ref_hash')['source_id'].nunique().reset_index()
cant_sources_20_22.columns = ['ref_hash', 'cant_sources_clicks']

cant_sources_21_23 = clicks_21_23.groupby('ref_hash')['source_id'].nunique().reset_index()
cant_sources_21_23.columns = ['ref_hash', 'cant_sources_clicks']

cant_sources_22_24 = clicks_22_24.groupby('ref_hash')['source_id'].nunique().reset_index()
cant_sources_22_24.columns = ['ref_hash', 'cant_sources_clicks']

cant_sources_23_25 = clicks_23_25.groupby('ref_hash')['source_id'].nunique().reset_index()
cant_sources_23_25.columns = ['ref_hash', 'cant_sources_clicks']

cant_sources_24_26 = clicks_24_26.groupby('ref_hash')['source_id'].nunique().reset_index()
cant_sources_24_26.columns = ['ref_hash', 'cant_sources_clicks']

cant_sources_20_22.head()

            ref_hash  cant_sources_clicks
0    693609737448534                    1
1   2204225481747532                    1
2   5470466329076030                    1
3   8577232270715133                    1
4  11041860037197738                    1

In [29]:
cant_sources_18_20['cant_sources_clicks'].fillna(0, inplace= True)
cant_sources_19_21['cant_sources_clicks'].fillna(0, inplace= True)
cant_sources_20_22['cant_sources_clicks'].fillna(0, inplace= True)
cant_sources_21_23['cant_sources_clicks'].fillna(0, inplace= True)
cant_sources_22_24['cant_sources_clicks'].fillna(0, inplace= True)
cant_sources_23_25['cant_sources_clicks'].fillna(0, inplace= True)
cant_sources_24_26['cant_sources_clicks'].fillna(0, inplace= True)

cant_sources_21_23.head()

            ref_hash  cant_sources_clicks
0    693609737448534                    1
1   2204225481747532                    1
2  10954770305551958                    1
3  12552176992342593                    2
4  12825186281597238                    1

In [30]:
clicksDT_18_20 = clicksDT_18_20.merge(cant_sources_18_20, on='ref_hash', how='left')
clicksDT_19_21 = clicksDT_19_21.merge(cant_sources_19_21, on='ref_hash', how='left')
clicksDT_20_22 = clicksDT_20_22.merge(cant_sources_20_22, on='ref_hash', how='left')
clicksDT_21_23 = clicksDT_21_23.merge(cant_sources_21_23, on='ref_hash', how='left')
clicksDT_22_24 = clicksDT_22_24.merge(cant_sources_22_24, on='ref_hash', how='left')
clicksDT_23_25 = clicksDT_23_25.merge(cant_sources_23_25, on='ref_hash', how='left')
clicksDT_24_26 = clicksDT_24_26.merge(cant_sources_24_26, on='ref_hash', how='left')

clicksDT_22_24.head()

,ref_hash,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks
0,693609737448534,1,1.0,40.210,1
1,2204225481747532,1,0.0,2.963,1
2,10261987748713353,1,1.0,0.631,1
3,10954770305551958,1,1.0,0.195,1
4,12240396390252142,1,1.0,0.239,1

# Se agregan la cantidad de advertiser diferentes.

In [32]:
cant_advs_18_20 = clicks_18_20.groupby('ref_hash')['advertiser_id'].nunique().reset_index()
cant_advs_18_20.columns = ['ref_hash', 'cant_advs_clicks']

cant_advs_19_21 = clicks_19_21.groupby('ref_hash')['advertiser_id'].nunique().reset_index()
cant_advs_19_21.columns = ['ref_hash', 'cant_advs_clicks']

cant_advs_20_22 = clicks_20_22.groupby('ref_hash')['advertiser_id'].nunique().reset_index()
cant_advs_20_22.columns = ['ref_hash', 'cant_advs_clicks']

cant_advs_21_23 = clicks_21_23.groupby('ref_hash')['advertiser_id'].nunique().reset_index()
cant_advs_21_23.columns = ['ref_hash', 'cant_advs_clicks']

cant_advs_22_24 = clicks_22_24.groupby('ref_hash')['advertiser_id'].nunique().reset_index()
cant_advs_22_24.columns = ['ref_hash', 'cant_advs_clicks']

cant_advs_23_25 = clicks_23_25.groupby('ref_hash')['advertiser_id'].nunique().reset_index()
cant_advs_23_25.columns = ['ref_hash', 'cant_advs_clicks']

cant_advs_24_26 = clicks_24_26.groupby('ref_hash')['advertiser_id'].nunique().reset_index()
cant_advs_24_26.columns = ['ref_hash', 'cant_advs_clicks']

cant_advs_23_25.head()

            ref_hash  cant_advs_clicks
0    693609737448534                 1
1   7429113196145773                 1
2   8577232270715133                 1
3  10261987748713353                 1
4  10954770305551958                 1

In [33]:
cant_advs_18_20['cant_advs_clicks'].fillna(0, inplace= True)
cant_advs_19_21['cant_advs_clicks'].fillna(0, inplace= True)
cant_advs_20_22['cant_advs_clicks'].fillna(0, inplace= True)
cant_advs_21_23['cant_advs_clicks'].fillna(0, inplace= True)
cant_advs_22_24['cant_advs_clicks'].fillna(0, inplace= True)
cant_advs_23_25['cant_advs_clicks'].fillna(0, inplace= True)
cant_advs_24_26['cant_advs_clicks'].fillna(0, inplace= True)

cant_advs_24_26.head()

            ref_hash  cant_advs_clicks
0   7164788605058735                 1
1   7429113196145773                 1
2   8452408857001723                 1
3   8577232270715133                 1
4  10261987748713353                 1

In [34]:
clicksDT_18_20 = clicksDT_18_20.merge(cant_advs_18_20, on='ref_hash', how='left')
clicksDT_19_21 = clicksDT_19_21.merge(cant_advs_19_21, on='ref_hash', how='left')
clicksDT_20_22 = clicksDT_20_22.merge(cant_advs_20_22, on='ref_hash', how='left')
clicksDT_21_23 = clicksDT_21_23.merge(cant_advs_21_23, on='ref_hash', how='left')
clicksDT_22_24 = clicksDT_22_24.merge(cant_advs_22_24, on='ref_hash', how='left')
clicksDT_23_25 = clicksDT_23_25.merge(cant_advs_23_25, on='ref_hash', how='left')
clicksDT_24_26 = clicksDT_24_26.merge(cant_advs_24_26, on='ref_hash', how='left')

clicksDT_18_20.head()

,ref_hash,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks
0,1461247282174365,1,1.0,229.257,1,1
1,5470466329076030,1,1.0,0.000,1,1
2,5534899846690585,1,1.0,10.223,1,1
3,7429113196145773,1,0.0,0.000,1,1
4,8577232270715133,1,1.0,0.000,1,1

# Se agrega el mean location.

In [35]:
mean_loc_18_20 = clicks_18_20.groupby('ref_hash')['longitude', 'latitude'].mean().reset_index()
mean_loc_18_20.columns = ['ref_hash', 'lon', 'lat']
mean_loc_18_20['mean_location'] = list(zip(mean_loc_18_20['lon'], mean_loc_18_20['lat']))
del mean_loc_18_20['lon']
del mean_loc_18_20['lat']

mean_loc_19_21 = clicks_19_21.groupby('ref_hash')['longitude', 'latitude'].mean().reset_index()
mean_loc_19_21.columns = ['ref_hash', 'lon', 'lat']
mean_loc_19_21['mean_location'] = list(zip(mean_loc_19_21['lon'], mean_loc_19_21['lat']))
del mean_loc_19_21['lon']
del mean_loc_19_21['lat']

mean_loc_20_22 = clicks_20_22.groupby('ref_hash')['longitude', 'latitude'].mean().reset_index()
mean_loc_20_22.columns = ['ref_hash', 'lon', 'lat']
mean_loc_20_22['mean_location'] = list(zip(mean_loc_20_22['lon'], mean_loc_20_22['lat']))
del mean_loc_20_22['lon']
del mean_loc_20_22['lat']

mean_loc_21_23 = clicks_21_23.groupby('ref_hash')['longitude', 'latitude'].mean().reset_index()
mean_loc_21_23.columns = ['ref_hash', 'lon', 'lat']
mean_loc_21_23['mean_location'] = list(zip(mean_loc_21_23['lon'], mean_loc_21_23['lat']))
del mean_loc_21_23['lon']
del mean_loc_21_23['lat']

mean_loc_22_24 = clicks_22_24.groupby('ref_hash')['longitude', 'latitude'].mean().reset_index()
mean_loc_22_24.columns = ['ref_hash', 'lon', 'lat']
mean_loc_22_24['mean_location'] = list(zip(mean_loc_22_24['lon'], mean_loc_22_24['lat']))
del mean_loc_22_24['lon']
del mean_loc_22_24['lat']

mean_loc_23_25 = clicks_23_25.groupby('ref_hash')['longitude', 'latitude'].mean().reset_index()
mean_loc_23_25.columns = ['ref_hash', 'lon', 'lat']
mean_loc_23_25['mean_location'] = list(zip(mean_loc_23_25['lon'], mean_loc_23_25['lat']))
del mean_loc_23_25['lon']
del mean_loc_23_25['lat']

mean_loc_24_26 = clicks_24_26.groupby('ref_hash')['longitude', 'latitude'].mean().reset_index()
mean_loc_24_26.columns = ['ref_hash', 'lon', 'lat']
mean_loc_24_26['mean_location'] = list(zip(mean_loc_24_26['lon'], mean_loc_24_26['lat']))
del mean_loc_24_26['lon']
del mean_loc_24_26['lat']

mean_loc_19_21.head()

            ref_hash                             mean_location
0    693609737448534  (0.8491757157362623, 1.7296505213152018)
1   1461247282174365  (0.8712034440355949, 1.7169466795235406)
2   5470466329076030  (0.8448574968117897, 1.8732936793270007)
3   8577232270715133   (0.8691574618804357, 1.712736043579654)
4  10745840231746185    (0.8651357780189526, 1.72173135969704)

In [36]:
mean_loc_18_20['mean_location'].fillna(0, inplace= True)
mean_loc_19_21['mean_location'].fillna(0, inplace= True)
mean_loc_20_22['mean_location'].fillna(0, inplace= True)
mean_loc_21_23['mean_location'].fillna(0, inplace= True)
mean_loc_22_24['mean_location'].fillna(0, inplace= True)
mean_loc_23_25['mean_location'].fillna(0, inplace= True)
mean_loc_24_26['mean_location'].fillna(0, inplace= True)

mean_loc_20_22.head()

            ref_hash                             mean_location
0    693609737448534  (0.8491757157362623, 1.7296505213152018)
1   2204225481747532  (0.8710620424621276, 1.7145115748958781)
2   5470466329076030  (0.8448574968117897, 1.8732936793270007)
3   8577232270715133   (0.8691574618804357, 1.712736043579654)
4  11041860037197738  (0.8152009207000446, 1.8858005678855128)

In [37]:
clicksDT_18_20 = clicksDT_18_20.merge(mean_loc_18_20, on='ref_hash', how='left')
clicksDT_19_21 = clicksDT_19_21.merge(mean_loc_19_21, on='ref_hash', how='left')
clicksDT_20_22 = clicksDT_20_22.merge(mean_loc_20_22, on='ref_hash', how='left')
clicksDT_21_23 = clicksDT_21_23.merge(mean_loc_21_23, on='ref_hash', how='left')
clicksDT_22_24 = clicksDT_22_24.merge(mean_loc_22_24, on='ref_hash', how='left')
clicksDT_23_25 = clicksDT_23_25.merge(mean_loc_23_25, on='ref_hash', how='left')
clicksDT_24_26 = clicksDT_24_26.merge(mean_loc_24_26, on='ref_hash', how='left')

clicksDT_21_23.head()

,ref_hash,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks,mean_location
0,693609737448534,2,2.0,40.210000,1,1,"(0.8491757157362623, 1.7296505213152018)"
1,2204225481747532,1,0.0,2.963000,1,1,"(0.8710620424621276, 1.7145115748958781)"
2,10954770305551958,1,1.0,0.195000,1,1,"(0.8596269625186914, 1.7447877083552974)"
3,12552176992342593,6,0.0,68.842667,2,2,"(0.8710620424621275, 1.7145115748958781)"
4,12825186281597238,1,1.0,1.530000,1,1,"(0.872078286228134, 1.7130416915726658)"

# Se guardan los datos.

In [ ]:
clicksDT_18_20.to_csv('datos/clicks_18_20.csv', index=False)
clicksDT_19_21.to_csv('datos/clicks_18_20.csv', index=False)
clicksDT_20_22.to_csv('datos/clicks_18_20.csv', index=False)
clicksDT_21_23.to_csv('datos/clicks_18_20.csv', index=False)
clicksDT_22_24.to_csv('datos/clicks_18_20.csv', index=False)
clicksDT_18_20.to_csv('datos/clicks_18_20.csv', index=False)
clicksDT_18_20.to_csv('datos/clicks_18_20.csv', index=False)